export(apeglm_bb)
export(allelic_ratio_from_logit)
export(check_sce)
export(filter_coverage)
export(fit_glmm_bb)
export(inv_logit)
export(logit)
export(logit_from_allelic_ratio)
export(plot_coefficient_diagnostics)
export(shrink_with_ash)
export(tidy_contrasts)
importFrom(stats,as.formula)
importFrom(stats,p.adjust)
